In [3]:
subjectList = ['운영체제', '데이터베이스', '객체지향언어'] # 수강한 과목 리스트
average = 60 # 평점

if len(subjectList) >=3 and average>=70:
    print("학위취득")
elif len(subjectList) >=3 or average>=70: 
    print("졸업")
else:
    print("재수강")

졸업

In [4]:
subject = {'자료구조' : 80, '알고리즘' : 60, '네트워크' : 90}
if '자료구조' in subject:
    s= subject['자료구조']
    if s >=60:
        print('이수완료')

이수완료

In [5]:
num = 122
if num%2==0:
    print("짝수")
else:
    print("홀수")

짝수

In [6]:
score=6

if score%2==0 and score%3==0:
    print("쿵짝")
elif score%2==0:
    print("짝")
elif score%3==0:
    print("쿵")

쿵짝

In [10]:
import random
while True:
    number=random.randint(1, 3)  #randint는 뒷자리 포함
    print('추출된 숫자: %d' % number)
    if number==2:
        break

추출된 숫자: 1
추출된 숫자: 3
추출된 숫자: 3
추출된 숫자: 1
추출된 숫자: 2

In [12]:
num = 1
total = 0
while num<=1000:
    total=total+num
    num+=1

print(total)

500500

In [13]:
num=1
total=0

while num<=1000:
    if num%3==0:
        total=total+num
    num+=1
    
print(total)

166833

In [14]:
scoreList = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
total = 0
for score in scoreList:
    if score >= 50:
        total +=score
print(total)

481

In [15]:
scoreList = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
total = 0

while scoreList:
    score=scoreList.pop()
    if score >= 50:
        total +=score
print(total)

481

In [16]:
studentInfo = {
 'a':33, 'b':55, 'c':67, 'd':82, 'e':45,
 'f':33, 'g':90, 'h':87, 'i': 100, 'j':25
}
total = 0

scoreList= list(studentInfo.values())
while scoreList:
    score= scoreList.pop()
    if score >= 80:
        total +=score
print(total)

359

In [20]:
import random

while True:
    n1= random.randint(1,6)
    n2= random.randint(1,6)
    print("{0}  /  {1}".format(n1,n2))
    if n1==n2:
        print("두 눈이 같으므로 종료")
        break

2  /  4
6  /  1
4  /  2
1  /  5
3  /  2
6  /  6
두 눈이 같으므로 종료

In [26]:
import random

lottoList = list()

while len(lottoList)<6:
    ran=random.randint(1,45)
    if lottoList.count(ran)==0:
        lottoList.append(ran)
print(lottoList)

[31, 6, 37, 21, 24, 16]

In [24]:
i = 1
while i<6:
    print("*"*i)
    i+=1

*
**
***
****
*****

In [25]:
i=1
space=4

while i<6:
    print(" "*space + "*"*i)
    space-=1
    i+=1

    *
   **
  ***
 ****
*****

In [27]:
for i in range(0,10, 2):
    print (i, end= " ")

0 2 4 6 8

In [30]:
data= list(range(1,10))
result= [ x*2 for x in data if x%3==0]
result

[6, 12, 18]

In [35]:
count=0

for num in range(1,101):
    s= str(num)
    if '3' in s:
        count+=1
        print(s)

3
13
23
30
31
32
33
34
35
36
37
38
39
43
53
63
73
83
93

In [61]:
list0 = [10, 20, 30, 40, 50, 60, 70]

i=0
while i<len(list0):
    if list0[i]%3==0:
        list0.pop(i)
    i+=1
print(list0)

[10, 20, 40, 50, 70]

In [60]:
list1 = [10, 20, 30, 40, 50, 60, 70]

#삭제할때는 역순으로 해야함
for i in reversed(range(len(list1))):
    if list1[i]%3==0:
        list1.pop(i)
    
print(list1)

[10, 20, 40, 50, 70]

In [62]:
list1 = [10, 20, 30, 40, 50, 60, 70]

#3의 배수 요소 삭제
for i in range(len(list1)):
    if list1[i]%3==0:
        list1.pop(i)
    
print(list1)

IndexError: list index out of range

In [63]:
def isOdd(num):
    return num%2 !=0

print(isOdd(2))
print(isOdd(3))

False
True

In [74]:
def plus(num1,num2):
    return num1+num2

def minus(num1,num2):
    if num2 > num1:
        num1. num2= num2. num1
    return num1-num2

result1 = plus(5, 3)
result2 = minus(5, 3)

print(result1)
print(result2)

8
2

In [77]:
def rangeSum(num):
    total=0
    for i in range(num+1):
        total+=i
    
    return total
n=int(input()) #문자열
print(rangeSum(n))

11
66

In [71]:
def calculator(li):
    sum=0
    m=0
    for i in li:
        sum+=i
    m=sum/len(li)
    return sum, m

result = calculator([3, 7, 9, 11])
print(result)

(30, 7.5)

In [83]:
list = [10, 20, 30, 40]
func=lambda num: num*2
func(list[2])
list2 = [ func(i) for i in list ]
list2

[20, 40, 60, 80]

### 연습문제

In [85]:
def diff_sum(n1,n2,n3):
    sum = n1+n2+n3
    squ = n1**2 + n2**2 + n3**2
    print(squ-sum)

diff_sum(2, 2, 2) 
diff_sum(3, 4, 5)

6
38

In [124]:
def get_sequence(n):
    total=0
    m=1
    while m<=n:
        for m_i in range(m+1):
            total=total+m_i
        m+=1
    return total

print(get_sequence(2))
print(get_sequence(3))

4
10

In [134]:
def get_mid_char(str):
    while len(str)>2:
        str=str[1:-1]
    return str
            
print(get_mid_char('python'))        
print(get_mid_char('functiokjkjkjns'))

th
k

In [120]:
def print_str(n):
    str=''
    for i in range(1,n+1):
        if i%2==0:
            str+="박"
        else:
            str+="수"
    return str
print(print_str(3))
print(print_str(11))

수박수
수박수박수박수박수박수

In [121]:
def get_total(num):
    total=0
    while num:
        n1= num%10
        num=num//10
        total+=n1
    return total
print(get_total(124))    
print(get_total(13579))

7
25

In [131]:
result = 'Pass' if  score >= 60  else  'Fail'

3
6
9

In [ ]:
if i in range(1,101,2)
    print(i)

In [133]:
list0 = [1, 2, 3, 4] 

result = [n * 3 for n in list0 if n % 2 == 0] 

print(result)

[6, 12]

In [137]:
text=""

def str_adder(*args):
    global text
    for i in args:
        text += i
str_adder('1', '2', '3', '4') 
print(text)

1234

In [138]:
def myfunc(numbers):
    result = []
    for number in numbers:
        if number > 5:
            result.append(number)
    return result

result = myfunc([2, 3, 4, 5, 6, 7, 8])
print(result)

[6, 7, 8]

In [143]:
myfunc=lambda numbers : [ i for i in numbers if i>5 ]

result = myfunc([2, 3, 4, 5, 6, 7, 8])
print(result)

[6, 7, 8]

In [147]:
func1 = lambda n: range(n)
func1(3)

range(0, 3)

In [154]:
f=open('c:/dev/text.txt', 'rt',encoding='UTF-8')
print(f.read())
f.close()

12AB가나★○

In [168]:
f=open('c:/dev/numbers_data.txt','rt',encoding='UTF-8')
numbers=f.read()
print(numbers)
numList=numbers.split('\n')
print(numList)

total=0
for num in numList:
    total+=int(num)
print(total)

7
9
24
29
34
38
['7', '9', '24', '29', '34', '38']
141

In [165]:
f=open('c:/dev/text_data.txt','rt',encoding='UTF-8')
text=f.read()
strList=text.split('\n')
print(strList)
for str in strList:
    if str.count('t')>0:
        print(str)

['python', 'java', 'c++', 'go', 'kotlin', 'fortran']
python
kotlin
fortran

In [ ]:
def sum(*args):