In [9]:
import pymysql

conn=pymysql.connect(
    host='localhost', user='root', password='1146',
    db='python', charset='utf8'
)

cursor=conn.cursor()
sql='''CREATE TABLE mysql(
        id INTEGER PRIMARY KEY AUTO_INCREMENT
        , title VARCHAR(100), content VARCHAR(100))'''

cursor.execute(sql)
conn.commit()

# close 꼭 해주기
cursor.close()
conn.close()

(1050, "Table 'mysql' already exists")

In [15]:
# 위에코드 예외처리

import pymysql

# finally에서 사용할 수 있게 전역으로
conn = None

try:
    conn=pymysql.connect(
        host='localhost', user='root', password='1146',
        db='python2', charset='utf8'
    )

    # with를 이용하여 자동 close
    with conn.cursor() as cursor:  
        sql='''CREATE TABLE mysql(
                id INTEGER PRIMARY KEY AUTO_INCREMENT
                , title VARCHAR(100), content VARCHAR(100))'''
        cursor.execute(sql)
        conn.commit()

except pymysql.InternalError as e:
    print(e)

finally:
    if conn:
        conn.close() # try 내의 지역변수

(1049, "Unknown database 'python2'")

In [18]:
import pymysql

conn=pymysql.connect(
    host='localhost', user='root', password='1146',
    db='python', charset='utf8'
)

cursor=conn.cursor()
sql='''INSERT INTO mysql (id, title, content) VALUES (null, %s, %s)'''


cursor.execute(sql,('제목A', '내용Z'))
conn.commit()

# close 꼭 해주기
cursor.close()
conn.close()

In [20]:
import pymysql

conn=pymysql.connect(
    host='localhost', user='root', password='1146',
    db='python', charset='utf8'
)

cursor=conn.cursor()
sql='''UPDATE mysql SET title=%s WHERE id=%s'''


cursor.execute(sql,('제목수정됨',1))

conn.commit()
cursor.close()
conn.close()

In [ ]:
import pymysql

conn=pymysql.connect(
    host='localhost', user='root', password='1146',
    db='python', charset='utf8'
)

cursor=conn.cursor()
sql='''DELETE FROM mysql WHERE id=%s'''


cursor.execute(sql,(2))

conn.commit()
# close 꼭 해주기
cursor.close()
conn.close()

In [22]:
# select사용

import pymysql

conn=pymysql.connect(
    host='localhost', user='root', password='1146',
    db='python', charset='utf8'
)

cursor=conn.cursor()
sql='''SELECT * FROM MYSQL'''
cursor.execute(sql)
result= cursor.fetchall()
print(result)
print(result[0])
print(result[0][1])

conn.commit()
cursor.close()
conn.close()

((1, '제목수정됨', '내용Z'), (2, '제목A', '내용Z'))
(1, '제목수정됨', '내용Z')
제목수정됨

In [23]:
# fetchmany()사용

import pymysql

conn=pymysql.connect(
    host='localhost', user='root', password='1146',
    db='python', charset='utf8'
)

cursor=conn.cursor()
sql='''SELECT * FROM MYSQL'''
cursor.execute(sql)
result= cursor.fetchmany(2)
print(result)
print(result[0])
print(result[0][1])

conn.commit()
cursor.close()
conn.close()

((1, '제목수정됨', '내용Z'), (2, '제목A', '내용Z'))
(1, '제목수정됨', '내용Z')
제목수정됨

### 연습문제 11_1

In [26]:
import pymysql

conn = pymysql.connect(
 host='localhost', user='root', password='1146',
 db='pythondb', charset='utf8'
)

cursor=conn.cursor()
sql='''CREATE TABLE member(
        num INTEGER PRIMARY KEY AUTO_INCREMENT
        , name VARCHAR(30), email VARCHAR(30), c_date DATETIME)'''

cursor.execute(sql)
conn.commit()

# close 꼭 해주기
cursor.close()
conn.close()

In [27]:
import pymysql

conn = pymysql.connect(
 host='localhost', user='root', password='1146',
 db='pythondb', charset='utf8'
)

cursor=conn.cursor()
sql='''CREATE TABLE article(
        id INTEGER PRIMARY KEY AUTO_INCREMENT
        , title VARCHAR(30), content VARCHAR(30),
        writer VARCHAR(30), HIT INTEGER,
        c_date DATETIME)'''

cursor.execute(sql)
conn.commit()

# close 꼭 해주기
cursor.close()
conn.close()