In [8]:
import pymysql

conn = pymysql.connect(
 host='localhost', user='root', password='1146',
 db='mydb', charset='utf8'
)

cursor=conn.cursor()
sql='''SELECT year,area1,count(*) 
        FROM accident
        GROUP BY area1, year'''

cursor.execute(sql)
result= cursor.fetchall()
for row in result:
    print(row[0], row[1], row[2])
    
conn.commit()
cursor.close()
conn.close()

2016 강원 206
2016 경기 749
2016 경남 359
2016 경북 477
2016 광주 85
2016 대구 150
2016 대전 94
2016 부산 153
2016 서울 342
2016 세종 25
2016 울산 70
2016 인천 137
2016 전남 327
2016 전북 275
2016 제주 77
2016 충남 372
2016 충북 221

In [10]:
import pymysql

conn = pymysql.connect(
 host='localhost', user='root', password='1146',
 db='mydb', charset='utf8'
)

cursor=conn.cursor(pymysql.cursors.DictCursor)
sql='''SELECT id,year,area1,count(*) as cnt
        FROM accident
        GROUP BY area1, year'''

cursor.execute(sql)
result= cursor.fetchall()
for row in result:
    print(row['area1'], row['year'], row['cnt'])
    
conn.commit()
cursor.close()
conn.close()

강원 2016 206
경기 2016 749
경남 2016 359
경북 2016 477
광주 2016 85
대구 2016 150
대전 2016 94
부산 2016 153
서울 2016 342
세종 2016 25
울산 2016 70
인천 2016 137
전남 2016 327
전북 2016 275
제주 2016 77
충남 2016 372
충북 2016 221

In [13]:
import pymysql

conn = pymysql.connect(
 host='localhost', user='root', password='1146',
 db='pythondb', charset='utf8'
)

cursor=conn.cursor()
sql='''INSERT INTO member (num, name, email, c_date) VALUES (null, %s, %s, now())'''

cursor.execute(sql,('a', 'a@a.com'))
conn.commit()

cursor.close()
conn.close()

In [21]:
import pymysql

conn = pymysql.connect(
 host='localhost', user='root', password='1146',
 db='pythondb', charset='utf8'
)

cursor=conn.cursor()
sql='''INSERT INTO article (id,title,content,writer,hit,c_date) VALUES (null, %s, %s,%s,%s, now())'''

cursor.execute(sql,('제목','내용','파이썬',1))
conn.commit()

cursor.close()
conn.close()

In [18]:
import pymysql

conn=pymysql.connect(
    host='localhost', user='root', password='1146',
    db='pythondb', charset='utf8'
)

cursor=conn.cursor()
sql='''UPDATE member SET name=%s, email=%s WHERE num=%s'''


cursor.execute(sql,('aa','aa@aa.com',1))

conn.commit()
cursor.close()
conn.close()

In [20]:
import pymysql

conn=pymysql.connect(
    host='localhost', user='root', password='1146',
    db='pythondb', charset='utf8'
)

cursor=conn.cursor()
sql='''UPDATE article SET title=%s, content=%s WHERE id=%s'''


cursor.execute(sql,('제목수정','내용수정',1))

conn.commit()
cursor.close()
conn.close()

In [29]:
import pymysql

page_num = input('원하는 페이지 번호를 입력해주세요.')
page_num = int(page_num)
end_num= page_num*10
start_num= end_num-9

conn=pymysql.connect(
    host='localhost', user='root', password='1146',
    db='mydb', charset='utf8'
)

cursor=conn.cursor(pymysql.cursors.DictCursor)
sql='''SELECT * FROM EMP LIMIT %s, 10'''
cursor.execute(sql,(start_num-1))
result=cursor.fetchall()

for row in result:
    print(row['EMPNO'], row['ENAME'])

conn.commit()
cursor.close()
conn.close()

원하는 페이지 번호를 입력해주세요.1
7369 SMITH
7499 ALLEN
7521 WARD
7566 JONES
7654 MARTIN
7698 BLAKE
7782 CLARK
7788 SCOTT
7839 KING
7844 TURNER

In [31]:
import pymysql
def insert(sql, data):
    cursor.execute(sql, data)
conn = pymysql.connect(
    host='localhost', user='root', password='1146',
    db='pythondb', charset='utf8')
cursor = conn.cursor()
# 데이터 100개 입력
sql = '''INSERT INTO MEMBER
        (NUM, NAME, EMAIL, C_DATE)
        VALUES (NULL, %s, %s, NOW())'''
for i in range(1, 101):
    insert(sql, ('제목' + str(i), 'a@a.com'))

conn.commit()
cursor.close()
conn.close()

In [40]:
import pymysql

conn = pymysql.connect(
    host='localhost', user='root', password='1146',
    db='pythondb', charset='utf8')

cursor = conn.cursor()

sql = '''SELECT * FROM MEMBER
            ORDER BY num DESC
            LIMIT 0, 5'''

cursor.execute(sql)
result=cursor.fetchall()

for row in result:
    for col in row:
        print(col, end=' ')
    print()

conn.commit()
cursor.close()
conn.close()

201 제목100 a@a.com 2020-01-28 11:19:31
200 제목99 a@a.com 2020-01-28 11:19:31
199 제목98 a@a.com 2020-01-28 11:19:31
198 제목97 a@a.com 2020-01-28 11:19:31
197 제목96 a@a.com 2020-01-28 11:19:31

In [37]:
import pymysql
def insert(sql, data):
    cursor.execute(sql, data)
conn = pymysql.connect(
    host='localhost', user='root', password='1146',
    db='pythondb', charset='utf8')
cursor = conn.cursor()
# 데이터 100개 입력
sql = '''INSERT INTO ARTICLE
        (ID, TITLE, CONTENT, WRITER, HIT, C_DATE)
        VALUES (NULL, %s, %s, %s, 0, NOW())'''
for i in range(1, 101):
    insert(sql,('제목' + str(i), '내용' + str(i), '파이썬'))

conn.commit()
cursor.close()
conn.close()

In [38]:
import pymysql

page_num = input('원하는 페이지 번호를 입력해주세요.')
page_num = int(page_num)
end_num= page_num*10
start_num= end_num-9

conn = pymysql.connect(
    host='localhost', user='root', password='1146',
    db='pythondb', charset='utf8')

cursor = conn.cursor()

sql = '''SELECT * FROM article LIMIT %s, 5'''

cursor.execute(sql,(start_num-1))
result=cursor.fetchall()

for row in result:
    print(row[0], row[1])

conn.commit()
cursor.close()
conn.close()

원하는 페이지 번호를 입력해주세요.5
41 제목38
42 제목39
43 제목40
44 제목41
45 제목42

In [43]:
import pymysql

conn = pymysql.connect(
    host='localhost', user='root', password='1146',
    db='pythondb', charset='utf8')

cursor = conn.cursor()

sql = '''SELECT * FROM shop where rest_date=%s and parking_info=%s'''

cursor.execute(sql,('연중무휴','주차가능'))
result=cursor.fetchall()

for row in result:
    for col in row:
        print(col, end=' ')
    print()

conn.commit()
cursor.close()
conn.close()

800 속씨원한대구탕 24시간 속을 시원하게 풀어주는 대구탕 전문점 연중무휴 주차가능 /save_img/shop_img/24f761ee-3bdc-4f89-a9c6-0f90ecc69a8b.jpg
808 신기산업 영도 앞바다가 한 눈에 들어오는 카페 연중무휴 주차가능 /save_img/shop_img/c6890c3b-88b4-49a8-8ed4-db7bde14f78c.jpg

In [75]:
import pymysql
import re  # 정규식을 위해 import함

conn = pymysql.connect(
    host='localhost', user='root', password='1146',
    db='pythondb', charset='utf8')

cursor = conn.cursor()

sql = '''SELECT * FROM info'''

cursor.execute(sql)
result=cursor.fetchall()

pattern=re.compile('(\d{6})-\d{7}')
change='\g<1>-*******'

for row in result:
    print(row[0], row[1], pattern.sub(change,row[2]))

conn.commit()
cursor.close()
conn.close()

a 일길동 751111-*******
b 이길동 761111-*******
c 삼길동 771111-*******
d 사길동 781111-*******
e 오길동 791111-*******
f 육길동 801111-*******
g 칠길동 811111-*******

## MongoDB 사용하기

In [2]:
from pymongo import MongoClient

In [3]:
client = MongoClient(host='localhost', port=27017)

In [4]:
db = client['test']

In [5]:
cursor = db.score.find()

In [12]:
cursor.rewind()  # 커서 되돌리기

for data in list(cursor):
    print(data['a'])

99.0
0.0
1.0
2.0
3.0
4.0
5

In [10]:
db.score.save({'a':5,'exam':6})

C:\Users\student\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: save is deprecated. Use insert_one or replace_one instead
  """Entry point for launching an IPython kernel.

ObjectId('5e2ff1de48084c6ef36d6b9e')

In [17]:
from pymongo import MongoClient

In [18]:
client = MongoClient(host='localhost', port=27017)
db = client['test']

In [20]:
from selenium import webdriver as wd
driver = wd.Chrome(executable_path='chromedriver.exe')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
driver.get('http://tour.interpark.com')
driver.implicitly_wait(10)
driver.find_element_by_id('SearchGNBText').send_keys('달랏')
driver.find_element_by_css_selector('button.search-btn').click()
WebDriverWait(driver, 10).until(
 EC.presence_of_element_located((By.CLASS_NAME, 'oTravelBox'))
)
driver.find_element_by_css_selector('.oTravelBox .moreBtn').click()

for page in range(1, 2):
    driver.execute_script("searchModule.SetCategoryList(%s, '')" % page)
    time.sleep(2)
    boxItems = driver.find_elements_by_css_selector(
    '.panelZone > .oTravelBox > .boxList > li')
    for li in boxItems:
        db.tour.save({'img': li.find_element_by_css_selector('img.img').get_attribute('src')})
        db.tour.save({'link': li.find_element_by_css_selector('a').get_attribute('onclick')})
        db.tour.save({'title': li.find_element_by_css_selector('h5.proTit').text})
        db.tour.save({'desc': li.find_element_by_css_selector('.proSub').text})
        db.tour.save({'price': li.find_element_by_css_selector('strong.proPrice').text})
        for info in li.find_elements_by_css_selector('.info-row .proInfo'):
            print(info.text)
        print('=' * 20)
driver.close()

C:\Users\student\Miniconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: save is deprecated. Use insert_one or replace_one instead
C:\Users\student\Miniconda3\lib\site-packages\ipykernel_launcher.py:23: DeprecationWarning: save is deprecated. Use insert_one or replace_one instead
C:\Users\student\Miniconda3\lib\site-packages\ipykernel_launcher.py:24: DeprecationWarning: save is deprecated. Use insert_one or replace_one instead
C:\Users\student\Miniconda3\lib\site-packages\ipykernel_launcher.py:25: DeprecationWarning: save is deprecated. Use insert_one or replace_one instead
C:\Users\student\Miniconda3\lib\site-packages\ipykernel_launcher.py:26: DeprecationWarning: save is deprecated. Use insert_one or replace_one instead

여행 기간 : 3박4일
출발 가능 기간 : 2020.01.29~2020.05.03
평점 0.0
0개의 상품평
====================
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.06.30
평점 10.0
1개의 상품평
====================
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.03.28
평점 0.0
0개의 상품평
====================
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.03.28
평점 10.0
1개의 상품평
====================
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.07.31
평점 6.3
2개의 상품평
====================
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.03.31
평점 4.0
1개의 상품평
====================
여행 기간 : 3박4일
출발 가능 기간 : 2020.01.29~2020.06.28
평점 0.0
0개의 상품평
====================
여행 기간 : 3박4일
출발 가능 기간 : 2020.01.28~2020.07.31
평점 0.0
0개의 상품평
====================
여행 기간 : 3박4일
출발 가능 기간 : 2020.01.28~2020.07.31
평점 10.0
1개의 상품평
====================
여행 기간 : 3박5일
출발 가능 기간 : 2020.01.28~2020.06.27
평점 0.0
0개의 상품평
====================

In [24]:
cursor = db.tour.find()
for data in list(cursor):
    print(data)

{'_id': ObjectId('5e2ff53048084c6ef36d6ba0'), 'img': 'http://tourimage.interpark.com/product/tour/00161/A10/280/A1031420_1_027.jpg'}
{'_id': ObjectId('5e2ff53248084c6ef36d6ba1'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1031420','')"}
{'_id': ObjectId('5e2ff53248084c6ef36d6ba2'), 'title': '[달랏4일] 낭만도시 달랏 직항+랑비앙 포함 3박4일'}
{'_id': ObjectId('5e2ff53248084c6ef36d6ba3'), 'desc': '★직항 취항 기념 초특가★'}
{'_id': ObjectId('5e2ff53248084c6ef36d6ba4'), 'price': '365,000 원~'}
{'_id': ObjectId('5e2ff53248084c6ef36d6ba5'), 'img': 'http://tourimage.interpark.com/product/tour/00161/A10/280/A1024924_1_620.jpg'}
{'_id': ObjectId('5e2ff53248084c6ef36d6ba6'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1024924','')"}
{'_id': ObjectId('5e2ff53248084c6ef36d6ba7'), 'title': '[나트랑/달랏5일] 시원한 낭만도시 랑비앙관광 5일'}
{'_id': ObjectId('5e2ff53248084c6ef36d6ba8'), 'desc': '★떠오르는 베트남 인생여행지★'}
{'_id': ObjectId('5e2ff53248084c6ef36d6ba9'), 'price': '434,700 원~'}
{'_id': ObjectId('5e2ff53248084c6ef36d6baa'), 'img': 'http://tourimage.interpark.com/product/tour/00161/A10/280/A1025044_3_337.jpg'}
{'_id': ObjectId('5e2ff53248084c6ef36d6bab'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1025044','')"}
{'_id': ObjectId('5e2ff53248084c6ef36d6bac'), 'title': '[대구출발_나트랑5일] 지금 핫한 그곳! 아름다운 나트랑/달랏 관광'}
{'_id': ObjectId('5e2ff53248084c6ef36d6bad'), 'desc': '머드온천&나트랑 시내관광 포함-동양의 나폴리 나트랑&달랏여행♥'}
{'_id': ObjectId('5e2ff53248084c6ef36d6bae'), 'price': '499,000 원~'}
{'_id': ObjectId('5e2ff53348084c6ef36d6baf'), 'img': 'http://tourimage.interpark.com/product/tour/00161/A10/280/A1031349_1_470.jpg'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb0'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1031349','')"}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb1'), 'title': '[나트랑 5일★연합] 나트랑 1박/ 달랏 2박 꽉찬 관광일정'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb2'), 'desc': '신규취항★뱀부항공/기내식제공/수하물20KG'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb3'), 'price': '349,000 원~'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb4'), 'img': 'http://img.modetour.com/eagle/photoimg/42164/bfile/636724338253061415.JPG'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb5'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1023759','')"}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb6'), 'title': '*출발확정*[관광형] 나트랑x달랏 3박5일 [4성(1박)+달랏(2박)]'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb7'), 'desc': '최대 7만원 쿠폰할인 (출발일 2020.01.01~2020.03.31)'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb8'), 'price': '405,000 원~'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bb9'), 'img': 'http://tourimage.interpark.com/product/tour/00161/A10/280/A1025396_7_460.jpg'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bba'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1025396','')"}
{'_id': ObjectId('5e2ff53348084c6ef36d6bbb'), 'title': '[부산출발_나트랑5일] 떠오르는 여행지 나트랑 + 봄의 도시 달랏을 동시에!! 실속 관광형'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bbc'), 'desc': '전 일전 준특급호텔 + 아름다운 나트랑 달랏 관광♡'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bbd'), 'price': '499,000 원~'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bbe'), 'img': 'http://img.modetour.com/eagle/photoimg/59122/bfile/636724338211701392.JPG'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bbf'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1031529','')"}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc0'), 'title': '[영원한봄의도시] 달랏 패키지 3박4일 [5성호텔]'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc1'), 'desc': ''}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc2'), 'price': '471,000 원~'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc3'), 'img': 'http://img.modetour.com/eagle/photoimg/42164/bfile/636724338249268660.JPG'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc4'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1025809','')"}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc5'), 'title': '*출발확정*[증편기][관광형] 나트랑x달랏 3박5일 [4성(1박)+달랏(2박)]'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc6'), 'desc': ''}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc7'), 'price': '352,000 원~'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc8'), 'img': 'http://img.modetour.com/eagle/photoimg/42171/bfile/636724338177366577.JPG'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bc9'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=A1025810','')"}
{'_id': ObjectId('5e2ff53348084c6ef36d6bca'), 'title': '[증편기][관광형] 나트랑x달랏 3박5일 [5성(1박)+달랏(2박)]'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bcb'), 'desc': ''}
{'_id': ObjectId('5e2ff53348084c6ef36d6bcc'), 'price': '405,000 원~'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bcd'), 'img': 'http://img.modetour.com/eagle/photoimg/56584/bfile/636453195339574051.JPG'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bce'), 'link': "searchModule.OnClickDetail('http://tour.interpark.com/goods/detail/?BaseGoodsCd=Q1011029','')"}
{'_id': ObjectId('5e2ff53348084c6ef36d6bcf'), 'title': '●연중 봄의 도시, 달랏● [5성호텔] 달랏 3색 골프(54홀) + 관광 3박 5일'}
{'_id': ObjectId('5e2ff53348084c6ef36d6bd0'), 'desc': ''}
{'_id': ObjectId('5e2ff53448084c6ef36d6bd1'), 'price': '1,480,000 원~'}

In [27]:
cursor.rewind()

for data in list(cursor):
    print(data['title'])

KeyError: 'title'